

button {
    height: 50px;
    margin: 2px;
    font-size: 1.2em;
    border-style: none;
}

h3{
    font-family: 'Courier New', Courier, monospace;
}
button:hover {
    color: aliceblue;
    background-color: #29a39f;
    cursor: pointer;
    border: 2px solid white;
}

.calculator {
    position: relative;
    top: 100px;
    margin: 0 auto;
    max-width: 500px;
   
}

.calcButtons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin:0 auto;
    background-color: #26b1b4;
    padding: 10px;
}
/* 
.calcButtons > button:nth-child(17) {
 
    grid-column: 1/3;
} */

.operator {
    background-color: #d6e0f5;
}

.number {
    background-color: #70c7db;
}

.userInput {
    position: relative;
    height: 80px;
    max-width: 100%;
    text-align: right;
    padding: 10px;
    font-size: 25px;
    /*border: 1px solid #193366;*/
    background-color: #d6e0f5;
    font-family: 'Audiowide', cursive;
}





.userEntry {
    position: absolute;
    bottom: 0;
    padding: 0;
    margin: 5px;
    right:0;
}

.finalCalc{

    position: absolute;
    right:0;
    margin:5px;
    top:0;
    padding:0;
}